/* Импорт файлов тем */
@import './themes/index.css';

@tailwind utilities;

@layer base {
  * {
    border-color: var(--border);
  }

  html {
    @media (max-width: 1920px) {
      font-size: calc(100vw / 1920 * 14);
    }
    @media (max-width: 1280px) {
      font-size: calc(100vw / 1280 * 10);
    }
    @media (max-width: 1024px) {
      font-size: calc(100vw / 1024 * 10);
    }
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-family);
  }
}
